#python
kafka-python
pandas
tables
msgpack
channels<3.0
Django<4.0.0
Flask==2.2.2
channels-redis
plotly
dash
bootstrap4
whitenoise
werkzeug

# django
django-bootstrap4==22.2
django-crispy-forms==1.14.0
django-environ==0.9.0
django_extensions
django_plotly_dash==2.1.3
django_redis
django_tables2==2.4.1

# Others
django_plotly_dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dpd-components
dpd_static_support
crispy-bootstrap5
