#python
kafka-python
pandas
tables
msgpack
channels<3.0
Django
Flaski==2.2.2
channels-redis
plotly
dash
bootstrap4
whitenoise
werkzeug

# django
django-bootstrap4
django-crispy-forms==1.14.0
django-environ
django_extensions
django_plotly_dash
django_redis
django_tables2

# Others
django_plotly_dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dpd-components
dpd_static_support
crispy-bootstrap5
