{% extends "layout.jinja2" %}

{% block pagestyles %}
  {% assets "home_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}

{% block content %}
  {% include "navigation.jinja2" %}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

  <div class="container">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>

  Name of the display
    <div class="content-section">
        <form method="POST" action="">
            {{ form.name }}
            {{ form.hidden_tag() }}

            Select source
            <div>
                {{ form.newname }}
            </div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select data sources</legend>
                {% if form.choices.errors %}
                <div class="invalid-feedback">
                    {% for error in form.choices.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for choice in form.choices %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <form method="POST">
    </form>

    <script>
    $(document).ready(function() {
        $("select").select2({});
    });
    </script>

  </div>

{% endblock %}
